<div class="container" fxLayoutGap="5px grid" fxLayout="row" fxLayoutAlign="center none">
  <!-- Songs Grid -->
  <div fxFlex="24%">
    <mat-card>
      <mat-card-content class="card-content">
        <mat-toolbar>
          <span class="spacer"></span>
          <form class="search-form">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Search</mat-label>
              <input type="text" matInput 
                     placeholder="Search">
            </mat-form-field>
          </form>
        </mat-toolbar>
        <div class="table-container">
          <table mat-table [dataSource]="dsSongs" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Artist Column -->
            <ng-container matColumnDef="artist">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Artist
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.artist }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedSongColumns; sticky: true"></tr>
            <tr
              mat-row
              (dblclick)="onAddSetlistSong(row)"
              *matRowDef="let row; columns: displayedSongColumns"
            ></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Setlist Songs Grid -->
  <div fxFlex="74%">
    <mat-card>
      <mat-card-content class="card-content">
        <mat-toolbar>
          <button mat-icon-button aria-label="Add Song" (click)="onAddBreak()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar>
        <div class="table-container">
          <table mat-table [dataSource]="dsSetlistSongs" matSort>
            <ng-container matColumnDef="sequence">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
              <td mat-cell *matCellDef="let element;">{{element.isBreak === false ? getSequenceNumber(dsSetlistSongs.filteredData.indexOf(element)) : incrementSetBreakCount() }} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Artist Column -->
            <ng-container matColumnDef="artist">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist </th>
              <td mat-cell *matCellDef="let element"> {{element.isBreak ? "" : element.artist}} </td>
            </ng-container>
          
            <!-- Genre Column -->
            <ng-container matColumnDef="genre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
              <td mat-cell *matCellDef="let element"> {{element.isBreak ? "" : element.genre}} </td>
            </ng-container>
          
            <!-- Key Column -->
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
              <td mat-cell *matCellDef="let element"> {{element.isBreak ? "" : element.key}} </td>
            </ng-container>

            <!-- Tempo Column -->
            <ng-container matColumnDef="tempo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tempo </th>
              <td mat-cell *matCellDef="let element"> {{element.isBreak ? "" : element.tempo}} </td>
            </ng-container>

            <!-- Song Length Column -->
            <ng-container matColumnDef="timeSignature">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Signature </th>
              <td mat-cell *matCellDef="let element"> {{element.beatValue && !element.isBreak ? element.beatValue + '/' + element.noteValue : ''}} </td>
            </ng-container>

            <!-- Song Length Column -->
            <ng-container matColumnDef="songLength">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Song Length </th>
              <td mat-cell *matCellDef="let element"> {{element.lengthMin && !element.isBreak ? element.lengthMin + ':' + element.lengthSec?.toString().padStart(2, '0') : ''}} </td>
            </ng-container>
            
            <ng-container matColumnDef="lyrics">
              <th mat-header-cell *matHeaderCellDef>Lyrics</th>
              <td mat-cell *matCellDef="let element">
                <a href="#" *ngIf="!element.isBreak" (click)="onViewLyrics($event, element)" >View</a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr
              mat-row
              (dblclick)="onEditSong(row)"
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{'selected': selectedRowSequence == row.sequenceNumber}"
              (click)="selectRow(row)"
            ></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
