<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutGap="5.0%" fxLayoutAlign="center none">

      <h2>Accounts</h2> 
      <button mat-fab color="primary"><mat-icon (click)="onAddAccount()">add</mat-icon></button>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxlayoutWrap fxLayoutGap="5.0%" fxLayoutAlign="center">
      <div fxFlex="70%" *ngIf="(accounts$ | async)?.length === 0" class="text-center no-records animate">
        <mat-icon>dashboard</mat-icon>
        <p>Create an account that will group your songs and seltists. You will be able to add users to the account to share your data. </p>
      </div>
      <mat-icon> </mat-icon>
      <mat-card *ngFor="let account of (accounts$ | async)" class="account-card">
        <div (click)="onSelectAccount(account)">
        <mat-card-header>
          <mat-card-subtitle>Account Name</mat-card-subtitle>
          <mat-card-title>{{account.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p *ngIf="!account.description">Songs, Setlists, Lyrics, Audio and Documents that are grouped for a band, worship group, or solo act. </p>
          <p *ngIf="account.description">{{account.description}}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
      </div>
        <mat-card-actions>
          <button mat-button (click)="onAddOrRemoveAccountUsers(account)">Add/Remove Users</button>
          <button mat-button (click)="onEditAccount(account)">Edit</button>
          <button mat-button [routerLink]="['/songs/' + account.id ]">View</button>
        </mat-card-actions>
        
      </mat-card>
  
      
    </div>
  </div>
</div>