<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
     <h2 class="font-700 fs-18_252"> Информация по рынку деривативов
          </h2> 
          <form  class="search__form">

            <mat-form-field class="search__form_field" appearance="outline">
              <mat-label>Валюта</mat-label>
              <input type="text"
                     aria-label="Departure station"
                     matInput
                     formControlName="departureStation"
                     (keyup)="filter($event)"
                     
              >
            </mat-form-field>
        
            <mat-form-field class="search__form_field" appearance="outline">
              <mat-label>Вид счета</mat-label>
              <input type="text"
                     aria-label="Arrival station"
                     matInput
                     formControlName="arrivalStation"
                     (keyup)="filter($event)"
                    
              >
            </mat-form-field>
        
            <mat-form-field class="search__form_field" appearance="outline">
              <mat-label>Данные по датам</mat-label>
              <input matInput
                     formControlName="departureDate"
                     [matDatepicker]="picker"
                     (keyup)="filter($event)"
                    >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
          </form>
          
      <mat-card>
        <mat-card-content>
       




  
          <table mat-table [dataSource]="dataSource" style="width: 100%;" matSort >
  
            <!-- Position Column -->
            <ng-container matColumnDef="code" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl "> Код организации </th>
              <td mat-cell *matCellDef="let myData$" class="font-500 fs-14_196"> {{myData$.orgCode}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="date" style="" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl"> Дата </th>
              <td mat-cell *matCellDef="let myData$"  class="font-500 fs-14_196" > {{myData$.dateTime}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="debit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl"> Дебет </th>
              <td mat-cell *matCellDef=" let myData$"  class="font-500 fs-14_196"> {{myData$.debet}}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="credit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl"> Кредит </th>
              <td mat-cell *matCellDef=" let myData$"  class="font-500 fs-14_196" > {{myData$.credit}}
              </td>
            </ng-container>
            <ng-container matColumnDef="currency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl"> Валюта </th>
              <td mat-cell *matCellDef=" let myData$"  class="font-500 fs-14_196"> 
                {{myData$.currency}}
              </td>
            </ng-container>
            <ng-container matColumnDef="type-op">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl"> Вид операции </th>
              <td mat-cell *matCellDef=" let myData$"  class="font-500 fs-14_196"> 
                {{myData$.operType}}
              </td>
            </ng-container>
            <ng-container matColumnDef="type-ac">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-700 fs-14_168 bl"> Вид счета </th>
              <td mat-cell *matCellDef=" let myData$"  class="font-500 fs-14_196"> 
                {{myData$.accountType}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>