

.fs-60_72 {
  font-size: 60px;
  line-height: 72px;
}

.fs-36_432 {
  font-size: 36px;
  line-height: 43.2px;
}

.fs-28_336 {
  font-size: 28px;
  line-height: 33.6px;
}

.fs-20_24 {
  font-size: 20px;
  line-height: 24px;
}

.fs-16_24 {
  font-size: 16px;
  line-height: 24px;
}

.fs-12_168 {
  font-size: 12px;
  line-height: 16.8px;
}

.fs-14_168 {
  font-size: 14px;
  line-height: 16.8px;
}

.fs-14_196 {
  font-size: 14px;
  line-height: 19.6px;
}

.fs-16_224 {
  font-size: 16px;
  line-height: 22.4px;
}

.fs-18_252 {
  font-size: 18px;
  line-height: 25.2px;
}

.fs-16_19 {
  font-size: 16px;
  line-height: 19px;
}

.fs-14_224 {
  font-size: 14px;
  line-height: 22.4px;
}
.fs-14_196 {
  font-size: 14px;
  line-height: 19.6px;
}

.fs-12_192 {
  font-size: 12px;
  line-height: 19.2px;
}

.fs-12_168 {
  font-size: 12px;
  line-height: 16.8px;
}

.fs-10_16 {
  font-size: 10px;
  line-height: 16px;
}
