<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">

        <mat-card>
            <mat-card-content>
                <h2>Typography</h2>


                <span class="note">Header 1</span>
                <h1>
                    The Life of Material Dashboard
                </h1>

                <span class="note">Header 2</span>
                <h2>
                    The Life of Material Dashboard
                </h2>

                <span class="note">Header 3</span>
                <h3>
                    The Life of Material Dashboard
                </h3>

                <span class="note">Header 4</span>
                <h4>
                    The Life of Material Dashboard
                </h4>

                <span class="note">Header 5</span>
                <h5>
                    The Life of Material Dashboard
                </h5>

                <span class="note">Header 6</span>
                <h6>
                    The Life of Material Dashboard
                </h6>

                <span class="note">Paragraph</span>
                <p>
                    I will be the leader of a company that ends up being worth billions of dollars, because I got
                    the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I
                    have, to push possibilities, to show people, this is the level that things could be at.
                </p>

                <span class="note">Quote</span>
                <blockquote class="blockquote">
                    <p>
                        I will be the leader of a company that ends up being worth billions of dollars, because I
                        got the answers. I understand culture. I am the nucleus. I think that’s a responsibility
                        that I have, to push possibilities, to show people, this is the level that things could be
                        at.
                    </p>
                    <small>
                        Kanye West, Musician
                    </small>
                </blockquote>

            </mat-card-content>
        </mat-card>

    </div>
</div>