<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      
      <mat-card>
        <mat-card-content class="lyrics-view">
          <mat-toolbar  >
            <button mat-icon-button aria-label="Add Song" (click)="onSaveSong()">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button aria-label="Add Song" (click)="onCancel()">
                <mat-icon>cancel</mat-icon>
            </button>
            <span class="spacer"></span>
          </mat-toolbar>
          <form class="dialog-form" [formGroup]="lyricsForm">
            <textarea id="lyrics" formControlName="lyrics"></textarea>
          </form>
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>