<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Customers</h2>

        <div class="container" fxLayout="row" fxLayoutAlign="center none">
          <div fxFlex="50%" class="text-center no-records animate">
            <mat-icon>business</mat-icon>
            <p>No customers exist.</p>
          </div>
          <mat-icon> </mat-icon>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>