<form class="dialog-form" [formGroup]="songForm">
    <div mat-dialog-content>
      <p *ngIf="!isNew">Edit Song</p>
      <p *ngIf="isNew">Add Song</p>
      <p>
        <mat-form-field appearance="outline" class="dialog-input-full-width">
          <mat-label>Song Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="dialog-input-full-width">
          <mat-label>Artist</mat-label>
          <input matInput formControlName="artist" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="dialog-input-full-width">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="genre" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="dialog-input-full-width">
          <mat-label>Key</mat-label>
          <input matInput formControlName="key" />
        </mat-form-field>
      </p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        (click)="onSave()"
        [disabled]="!songForm.valid || !songForm.dirty"
      >
        Save
        <mat-icon *ngIf="saving"
          ><mat-spinner color="accent" diameter="20"> </mat-spinner
        ></mat-icon>
      </button>
    </div>
  </form>
  