<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>About</h2>

        <p>
          Built on top of <a rel="noreferrer noopener" aria-label="Angular (opens in a new tab)"
            href="http://angular.io" target="_blank">Angular</a> &amp; <a rel="noreferrer noopener"
            aria-label="Angular Material (opens in a new tab)" href="http://material.angular.io"
            target="_blank">Angular Material</a>, angular-material-template provides a simple template that you can use for your next project.
        </p>

        <p>
          Support the project by starring it on <a href="https://github.com/umutesen/angular-material-template"
            target="_blank">
            GitHub
          </a>.
        </p>

        <p>
          Made with <mat-icon>favorite</mat-icon> by <a href="https://onthecode.co.uk" target="_blank"
            aria-label="onthecode (opens in a new tab)">onthecode</a>.
        </p>


      </mat-card-content>
    </mat-card>

  </div>
</div>