.spacer {
    flex: 1 1 auto;
  }

  li.break {
    list-style: none;
    color: #999;
}

.lyrics-view{
  height: calc(100vh - 220px);
  overflow-y: scroll;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}