<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <mat-toolbar>
          <button
            mat-icon-button
            aria-label="Add Song"
            (click)="onBackToSong()"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <h4>{{ song?.name }}</h4>
          <span class="spacer"></span>
          <mat-form-field  subscriptSizing="dynamic"> 
            <mat-select [(value)]="selectedLyric!.name"> 
              <mat-option *ngFor="let lyric of lyrics" [value]="lyric?.name">{{lyric.name}}</mat-option> 
              <mat-option value="add">Add...</mat-option> 
            </mat-select> 
          </mat-form-field> 
          <button mat-icon-button aria-label="Edit Lyrics" (click)="onEditLyric()">
            <mat-icon>edit</mat-icon>
          </button>
          <mat-divider [vertical]="true" style="height:50px"></mat-divider>
        </mat-toolbar>
        <mat-card>
          <mat-card-content class="setlist-songs-static">
            <span *ngIf="!selectedLyric?.lyrics">There are no lyrics for this song. </span>
            <pre *ngIf="selectedLyric?.lyrics">{{selectedLyric?.lyrics}}</pre>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
