.a{
    background-color: white;
    padding: 50px 0 50px 0;
}.bb{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
padding-bottom: 100px;

}
.d{
    flex-flow: column!important;
}
.c{
    color: #525252;
}

    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: none!important
    }
mat{
    background-color: green;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color:none!important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color:
   none !important;
}
